= form_for :attendance , :html => {:id => "form_take_attendance"} , url: bulk_attendance_create_path(school_id) do |f|
  %div.border.border-black.rounded.content_box
    .row.text-center
      .col-md-3
        %b
          %u
            = "CLASS NAMES"
      .col-md-6
        %b
          %u
            = "ENTER ABSENT ROLL NUMBERS  (e.g: 20,25,33)"
      .col-md-3
        %b
          %u
            = "MARK ABSENT"
    - @sections.each do |div1|
      .row.text-center
        .col-md-3
          - class_name = "Class " + div1.divison + "    :    "
          = f.label class_name.upcase, class: "label_form"
        .col-md-6
          = f.text_field div1.id, class: "form-control", value: Attendance.joins(:student).where(date: Date.today, section: div1.id, present: false).select("students.roll_number as roll_number").collect(&:roll_number).join(",")
        .col-md-3.row_submit
          = f.submit 'Mark Absent', :class => "btn btn-danger"
        %span.add_error
    .row
      .col-md-4
      .col-md-2
        = f.submit :class => "btn btn-primary btn-center-align"
      .col-md-6
