%h1 All Classes in School
%h6= 'Today: ' + Date.today.to_s
= link_to 'Add Class', new_school_section_path, :class=>"btn btn-sm btn-warning float-right disabled"
%br
%br
%table.table.table-striped.table-bordered.table-hover.table-responsive
  %colgroup
    %col(width="20%")
    %col(width="20%")
    %col(width="20%")
    %col(width="20%")
    %col(width="10%")
    %col(width="10%")
  %thead.thead-primary
    %th Class
    %th Section
    %th Total Students
    %th Students Present Today
    %th Students Absent Today
    %th View Students
  %tbody
    - @sections.each do |sec|
      %tr
        %td= sec.as_json['title']
        %td= sec.as_json['name']
        %td= sec.students.count
        %td= sec.students.count - sec.attendances.where(date: Date.today, present: false).count
        %td= sec.attendances.where(date: Date.today, present: false).count
        %td= link_to 'View Class', school_section_path(sec.klass.school.id, sec.id), :class=>"btn btn-sm btn-success float-right"
