- sec = Section.where(id: params[:id]).first
- class_name = sec.klass.title.to_s + ' - ' + sec.name.to_s
%h3 Class Details: #{class_name}
%h6= 'Today: ' + Date.today.to_s
%br
%table.table.table-striped.table-bordered.table-hover.table-responsive
  %colgroup
    %col(width="30%")
    %col(width="40%")
    %col(width="30%")
  %thead.thead-primary
    %th Roll Number
    %th Name
    %th Present
  %tbody
    - sec.students.each do |c|
      %tr
        %td= c.roll_number
        %td= c.name
        %td= c.attendances.where(date: Date.today).first.present
