- sec = Section.where(id: params[:id]).first
- class_name = sec.klass.title.to_s + ' - ' + sec.name.to_s
%h3 Class: #{class_name} - Today's Attendance
%h5= 'Today: ' + Date.today.to_s
%br
%table.table.table-striped.table-bordered
  %colgroup
    %col(width="30%")
    %col(width="40%")
    %col(width="30%")
  %thead.thead-primary
    %th Roll Number
    %th Name
    %th Present
  %tbody
    - sec.students.each do |c|
      %tr
        %td= c.roll_number
        %td= c.name
        - is_absent = c.attendances.where(date: Date.today, present: false).first ? 'No' : 'Yes'
        %td= is_absent
